body {
    font-family:  "Times New Roman", sans-serif;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
    margin: 4px;
    border-radius: 5px;
    color: white;
    border: solid white 1px;
}

.ajs-ok {
    background-color: #52c57e;
    border: solid #52c57e 1px;
}
.ajs-cancel {
    background-color: #be4414;
    border: solid #be4414 1px;
}
@media print {
    #print , #back {
        display: none;
    }
}
@page { size: auto;  }
.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-results>.select2-results__options{
    max-height: 550px !important;
}
.form-select-lg {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-family: "Times New Roman", serif;
    font-size: medium;
    font-weight: bold;
}
.bg-red{
    background-color: #f68c8c;
}

.border-black {
    border: 1px solid black !important;
}
@media only screen and (max-width: 600px) {
    .counts{
        text-align: left;
    }
}
.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.9rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    list-style: none;
    justify-content: center;
}
.page-link:hover {
    z-index: 2;
    color: white;
    background-color:  #7a00ff;
    border-color: var(--bs-pagination-hover-border-color);
}
.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #7a00ff;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-purple{
    color:#7a00ff
}
.bg-purple{
    background-color:#7a00ff
}

.active>.page-link, .page-link.active{
    background-color:#7a00ff;
    border-color:#7a00ff;
}
